{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Todo App</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

  <link rel="stylesheet" href="{% static 'todo/styles.css' %} ">

</head>

<body>
  <div class="container">
    <h3 class="text-center">What do you want to do today?</h3>
    <div class="border border-light">

      <form class="row input" action="{% url 'add_todo' %}" method="post">
        {% csrf_token %}
        {{ form.text }}
        <button type="submit" name="button" class="btn btn-primary col-2"><i class="fas fa-plus"></i> Add</button>
      </form>

      <div class="delete text-center">
        <a class="btn btn-danger col-3" href="{% url 'delete_all_todo' %}"><i class="fas fa-trash-alt"></i> Delete All</a>
        <a class="btn btn-warning col-5" href="{% url 'delete_completed' %}"><i class="fas fa-calendar-times"></i> Delete Completed</a>
      </div>

      <div class="todo-list-container">
        {% for todo in todo_list  %}
          {% if todo.complete %}
            <div class="card completed"> {{ todo.text }} </div>
          {% else %}
            <div class="card ">
              <a href="{% url 'add_to_complete' todo.id %}">  {{ todo.text }} </a>
            </div>
          {% endif %}
        {% endfor %}


      </div>

    </div>



  </div>
</body>

</html>
