.background-container {
  background-color: lightblue;
}

.container {
  margin: auto;
  width: 50%;
  border: 1px solid green;
  padding: 0.75em 2.5em;
  margin-top: 3em;
  background-color: whitesmoke;
}
.text-center {
  text-align: center;
}

.input {
  padding: 0 0.4em;
}

.input button {
  margin-left: 1em;
}

.delete {
  margin-top: 1em;
}

.todo-list-container {
  margin-top: 1em;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  padding: 2px 16px;
  margin-top: 8px;
}

.completed {
  text-decoration: line-through;
  background-color: lightblue;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

a {
  color: black;
}
